<section class="delete-dialog">
  <header class="delete-dialog__header">
    <h2>Delete Meal Prep</h2>
    <p>
      "{{ data.mealPlanName }}" will be removed from your saved meal prep plans. This action
      cannot be undone.
    </p>
  </header>

  <footer class="delete-dialog__footer">
    <button type="button" class="btn-link-secondary delete-dialog__button" (click)="cancel()">
      Cancel
    </button>
    <button type="button" class="btn-link--primary delete-dialog__button" (click)="confirm()">
      Delete
    </button>
  </footer>
</section>
