.container-feature-item {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1.25rem;
}

.icon-container {
  flex-shrink: 0;
}

.feature__icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 0.25rem;
}

.feature-item__title {
  margin-bottom: 0.5rem;
}

.feature-item__description {
  max-width: 28rem;
}
