/* =========================
   Account step form
   ========================= */
   .account-form-div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem; 
  }

  .account-form__label {
    margin-top: 0.25rem;
  }

  .account-form__error {
    margin: 0;
  }
  
  .account-form-div input{
    height: 3rem;
    margin-bottom: 0.1rem;
  }
